In [43]:
# Declare Dependencies 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

In [233]:
# Path to chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [234]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

# NASA Mars News

In [235]:
# Visit Nasa news url through splinter module
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html

In [236]:
# Convert the browser html to a soup object and then quit the browser
news_soup = bs(html, 'html.parser')
browser.quit()

In [237]:
news_title = news_soup.find('div', class_='content_title').find('a').text
print(news_title)

NASA Invites Students to Name Mars 2020 Rover

In [238]:
news_para = news_soup.find('div', class_='article_teaser_body').text
print(news_para)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

## JPL Mars Space Images - Featured Image

In [240]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [241]:
# Visit url  through splinter module
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html

In [242]:
# Convert the browser html to a soup object and then quit the browser
image_soup = bs(html, 'html.parser')
browser.quit()

In [243]:
image = image_soup.find("img", class_="thumb")["src"]

In [244]:
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23345-640x350.jpg

## Mars Weather

In [251]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [252]:
# Visit url  through splinter module
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html

In [253]:
weather_soup = bs(html, 'html.parser')
browser.quit()

In [254]:
mars_weather_tweets = weather_soup.find_all('div', class_='js-tweet-text-container')

for tweet in mars_weather_tweets: 
    weather_tweet = tweet.find('p').text
    if 'Sol' and 'pressure' in weather_tweet:
        print(weather_tweet)
        break
    else: 
        pass

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

# Mars Facts

In [258]:
mars_facts = pd.read_html('https://space-facts.com/mars/')
mars_df = mars_facts[1]
mars_df.columns = ['Description','Value']
mars_df.set_index('Description', inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [259]:
mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [260]:
# Choose the executable path to driver 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [261]:
mars_hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemispheres_url)
html = browser.html

In [262]:
hemispheres_items = hemispheres_soup.find_all('div', class_='item')

In [263]:
hemisphere_image_urls = []

for hemi_img in hemispheres_items:
    
    img_title = hemi_img.find('h3').text
    partial_img_url = hemi_img.find('a', class_='itemLink product-item')['href']
    
    browser.visit('https://astrogeology.usgs.gov/' + partial_img_url)
    html = browser.html
    
    soup = bs(html, 'html.parser')
    img_url = 'https://astrogeology.usgs.gov/' + soup.find('img', class_='wide-image')['src']
    
    hemisphere_image_urls.append({"title" : img_title, "img_url" : img_url})

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [264]:
browser.quit()